<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Admin Page</title>

    <style th:inline="text">
        body {
            background: url([[@{/productImages/wea.jpg}]]);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 100% 100vh;
        }
    </style>
</head>
<body>

<nav style="height: 74px;">
    <div class="nav-wrapper" >
        <div  style="margin: 0; padding: 10px 0px 10px 20px" >
            <a href="#" class="brand-logo"><img  th:src="@{/productImages/logo.png}"  height="50"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
<!--                <li style="padding-left: 20px"><a href="#">Welcome, Admin </a></li>-->

                <li><a th:href="@{/auth/about}" >About us</a></li>
                <li><a th:href="@{/contactus}" >Customer care</a></li>
                <li style="padding-right: 50px; float: right"><a href="/auth/login">logout</a></li>

            </ul>
        </div>

    </div>
</nav>

<div class="bg-text" style="padding: 10px 0px 10px 30px">
<h1 style=" color: blue; font-size: xx-large; font-family: 'Brush Script MT'; font-style: italic; font-weight: bolder">
    Welcome Admin..
</h1>
    .
</div>

<div class="bg-text" style="padding: 10px 0px 10px 30px">

    <a  th:href="@{/restaurant/}"  style="font-size: x-large; font-family: AppleGothic; color: blue">Restaurant Management</a><br><br>
    <a th:href="@{/user}"  style="font-size: x-large; font-family: AppleGothic; color: blue">User Management</a><br><br>
    <a href="#" style="font-size: x-large; font-family: AppleGothic; color: blue">Menu Management</a><br><br>
    <a th:href="@{/items/}" style="font-size: x-large; font-family: AppleGothic; color: blue">Item Management</a><br><br>
    <a href="#" style="font-size: x-large; font-family: AppleGothic; color: blue">Order Management</a><br><br>
    <a href="#" style="font-size: x-large; font-family: AppleGothic; color: blue">Site Management</a><br><br>

</div>


<footer style="background-color: #EC6E72; padding: 0px 0px 0px 30px; clear: both; margin-top: 160px; border: 1px solid red"> <p>copyright: 2020</p></footer>
</body>
</html>