<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Sign in</title>

    <style th:inline="text">
        body {
            background: url([[@{/productImages/wea.jpg}]]);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 100% 100vh;
        }

        .container {
            background-color: rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>
<nav style="height: 74px;">
    <div class="nav-wrapper" style="background-color: white">
        <div class="container">
            <a href="#" class="brand-logo"><img th:src="@{/productImages/logo.png}" height="60"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/auth/about}" style="color: #1D1D1D">About us</a></li>
                <li><a th:href="@{/contactus}" style="color: #1D1D1D">Customer care</a></li>
                <li><a th:href="@{/auth/login}" style="color: #1D1D1D">login</a></li>

                <li><a href="collapsible.html"></a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container" style="margin-top: 5rem; color: white">
    <h4>Sign in</h4>
    <div th:if="${invalid != null}">
        <p style="color: tomato" th:text="${invalid}"></p>
    </div>
    <hr/>
    <div class="row">
        <form class="col s12" style="margin-top: 2rem" method="post" th:action="@{/auth/login}" th:object="${user}">
            <div class="row">
                <div class="input-field col s6">
                    <input required="required" id="email" type="text" class="validate" th:field="*{email}">
                    <label for="email" style="color: white">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input required="required" id="password" type="password" class="validate" th:field="*{password}">
                    <label for="password" style="color: white">Password</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light pink accent-3" type="submit" name="action">Submit
                <i class="material-icons right"></i>
            </button>
        </form>
    </div>
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>