<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>USERS</title>
</head>
<body>

<nav style="height: 74px;">
    <div class="nav-wrapper">
        <div style="margin: 0; padding: 10px 0px 10px 20px">
            <a href="#" class="brand-logo"><img th:src="@{/productImages/logo.png}" height="50"></a>
            <ul>
                <!--                <li style="padding-left: 20px"><a href="#">Welcome, Admin </a></li>-->
                <li style="padding-right: 50px; float: right"><a href="/auth/login" style="color: black">logout</a></li>
                <li style="padding-right: 50px; float: right"><a th:href="@{/auth/about}" style="color: #1D1D1D">About
                    us</a></li>
                <li style="padding-right: 50px; float: right"><a th:href="@{/contactus}" style="color: #1D1D1D">Customer
                    care</a></li>

            </ul>
        </div>

    </div>
</nav>
<h3></h3>
<tr></tr>


<h3>ACTIVE USERS IN DATABASE</h3>
<table id="USER INFORMATION">
    <tr>
        <th> USER'S NAME</th>
        <th> EMAIL</th>
        <th> ADDRESS</th>
        <th> USER TYPE</th>
    </tr>

    <tr th:each="user: ${users}">
        <td th:text="${user.fullName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.App_User_Type}"></td>
        <td>

        </td>
        <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>

    </tr>
</table>
</body>
</html>

