<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JUMIA FOODS </title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="text/javascript" src='main.js'></script>
    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.css">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@7.0.0/normalize.css">
    <meta charset="utf-8">
    <title>JUMIA FOODS</title>
</head>

<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-md-2 col-lg-3">
                <div class="logo">
                    <a href="index.html"><img src="../../static/productImages/logo.png"></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 desktop-only tablet-only">
            </div>
            <div class="col-xs-7 col-md-4">
                <div class="header__auth">
                    <a class="header__login-btn" href="#">Sign In</a>
                    <a class="header__register-btn" href="#">Register</a>
                    <a href="#"><img class="header__basket" src="../images/basket.png"></a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="search">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form class="search__form">
                    <a href="#"><img class="icon" src="../images/searchicon.png"></a>
                    <input type="text" class="search_input" placeholder="Search for restaurant or cuisine..">
                </form>
            </div>
            <div class="col-xs-12 mobile-only">
                <div class="search__whento">
                    <span>When</span>
                    <span>To</span>
                </div>
                <a href="#">
                    <div class="when-btn">
                        ASAP
                    </div>
                </a>
                <a href="#">
                    <div class="to-btn">
                        <img class="icon" src="./images/location.svg">Ensias Rabat
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="restaurants">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="restaurants__heading">home > <b>Vendors</b></h1>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="registerRestaurant.html">
                    <div class="restaurants__item">
                        <img src="../images/pic1.png" class="restaurants__img">
                        <p class="restaurants__name">McDonalds</p>
                        <span class="restaurants__prices">$$$</span>
                        <span class="restaurants__specs">• European</span>
                        <p class="restaurants__delivery">40 - 50 Min</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="registerRestaurant.html">
                    <div class="restaurants__item">
                        <img src="../images/2.png" class="restaurants__img">
                        <p class="restaurants__name">Dim &amp; Sum</p>
                        <span class="restaurants__prices">$$$</span>
                        <span class="restaurants__specs">• Asian • Fusion</span>
                        <p class="restaurants__delivery">40 - 50 Min</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="registerRestaurant.html">
                    <div class="restaurants__item">
                        <img src="../images/3.png" class="restaurants__img">
                        <p class="restaurants__name">Burger Fuel</p>
                        <span class="restaurants__prices">$</span>
                        <span class="restaurants__specs">• American • European</span>
                        <p class="restaurants__delivery">35 - 45 Min</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="registerRestaurant.html">
                    <div class="restaurants__item">
                        <img src="../images/4.png" class="restaurants__img">
                        <p class="restaurants__name">NHA — NHA</p>
                        <span class="restaurants__prices">$$</span>
                        <span class="restaurants__specs">• Vietnamiese</span>
                        <p class="restaurants__delivery">30 - 40 Min</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="registerRestaurant.html">
                    <div class="restaurants__item">
                        <img src="../images/5.png" class="restaurants__img">
                        <p class="restaurants__name">De Fontein</p>
                        <span class="restaurants__prices">$$</span>
                        <span class="restaurants__specs">• European</span>
                        <p class="restaurants__delivery">40 - 50 Min</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="registerRestaurant.html">
                    <div class="restaurants__item">
                        <img src="../images/6.png" class="restaurants__img">
                        <p class="restaurants__name">Cinnabon</p>
                        <span class="restaurants__prices">$</span>
                        <span class="restaurants__specs">• Desserts</span>
                        <p class="restaurants__delivery">25 - 35 Min</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="registerRestaurant.html">
                    <div class="restaurants__item">
                        <img src="../images/7.png" class="restaurants__img">
                        <p class="restaurants__name">Scallini</p>
                        <span class="restaurants__prices">$$</span>
                        <span class="restaurants__specs">• Italian</span>
                        <p class="restaurants__delivery">15 - 25 Min</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="registerRestaurant.html">
                    <div class="restaurants__item">
                        <img src="../images/8.png" class="restaurants__img">
                        <p class="restaurants__name">Good George</p>
                        <span class="restaurants__prices">$$</span>
                        <span class="restaurants__specs">• American</span>
                        <p class="restaurants__delivery">25 - 35 Min</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="registerRestaurant.html">
                    <div class="restaurants__item">
                        <img src="../images/9.png" class="restaurants__img">
                        <p class="restaurants__name">Bar BQ Cafe </p>
                        <span class="restaurants__prices">$</span>
                        <span class="restaurants__specs">• BBQ</span>
                        <p class="restaurants__delivery">30 - 40 Min</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="../../static/productImages/logo.png" class="logo logo_white">
                <hr class="footer__hr"></hr>
            </div>
            <div class="col-xs-7 col-md-4">
                <div class="footer__language">
                    <select>


                    </select>
                </div>
                <p class="footer__hashtag-text"><span style="color: #49A144">#</span>Food Delivery</p>
                <div class="footer__sm">
                    <a href="#"><img src="../images/facebook.svg"></a>
                    <a href="#"><img src="../images/twitter.svg"></a>
                    <a href="#"><img src="../images/instagram.svg"></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="footer__nav">
                    <a href="#">About JUMIA Food</a>
                    <a href="#">Become a Delivery Partner</a>
                    <a href="#">Become a Restaurant Partner</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="footer__nav">
                    <a href="#">See all cities supported</a>
                    <a href="#">Pricing</a>
                    <a href="#">Help</a>
                    <a href="#">FAQs</a>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="footer__apps">
                    <hr class="footer__hr"></hr>
                    <div class="footer__apps-btns">
                        <a href="#"><img class="appstore-btn" src="../images/appstore.png"></a>
                        <a href="#"><img class="googleplay-btn" src="../images/googleplay.png"></a>
                    </div>
                    <hr class="footer__hr"></hr>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="footer__copyright-nav">
                    <p>© .</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="footer__copyright-nav">
                    <a href="#">Privacy</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="footer__copyright-nav">
                    <a href="#">Terms</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="up-btn">
    <a href="#"><img src="../images/arrow.svg"></a>
</div>
</body>

</html>